<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Главная страница</h1>
    <nav>
        <h3><a href="{{ url_for('home') }}">Главная</a></h3>
        <br>
        <h3><a href="{{ url_for('register') }}">Регистрация</a></h3>
        <br>
        <h3><a href="{{ url_for('users_list') }}">Список пользователей</a></h3>
        <br>
        <h3><a href="{{ url_for('photos') }}">Просмотр фотографий</a></h3>
        <br>
    </nav>
</body>
</html>
