<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация нового пользователя</h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }} {{ form.username() }}
        </div>
        <br>
        <div>
            {{ form.first_name.label }} {{ form.first_name() }}
        </div>
        <br>
        <div>
            {{ form.last_name.label }} {{ form.last_name() }}
        </div>
        <br>
        <div>
            {{ form.email.label }} {{ form.email() }}
        </div>
        <br>
        <div>
            {{ form.phone_number.label }} {{ form.phone_number() }}
        </div>
        <br>
        <div>
            {{ form.birth_date.label }} {{ form.birth_date() }}
        </div>
        <br>
        <div>
            {{ form.password.label }} {{ form.password() }}
        </div>
        <br>
        <div>
            {{ form.confirm_password.label }} {{ form.confirm_password() }}
        </div>
        <br>
        <div>
            <button type="submit">Зарегистрироваться</button>
        </div>
    </form>

</body>
</html>
